main{
    section{
        margin: 6%;
        h2{
            margin-bottom: 7%;
        }
        img{
            margin-bottom: 0;
        }
        section{
            margin: 6% 0;
        }
    }
    .boxed-section{
        padding: 3%;
        h2{
            margin-bottom: 3.5%;
        }
    }
}
.full-width{
    section{
        margin: 6% 0;
    }
}
.bg-gray{
    padding: 6% 0;
}